*{
  box-sizing: border-box;
}
body{
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Lucida Grande, Arial;

}

.app-window{
  display: flex;
  height: 100vh;
  background-color: #EDEDED;

}
.sidebar{
  width: 35%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 10px #DDD;
}
header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 0 10px 10px #DDD;
}
.header--avatar{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.header--buttons{
  display: flex;
}
.header--btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header--btn:hover{
  background-color: #DEDEDE;
}
.header--btn svg{
  font-size: 28px;
}

.search{
  background-color: #F6F6F6;
  border-bottom: 1px solid #DDD;
  padding: 5px 20px;
}
.search--input{
  background-color: #fff;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 0 10px;
}
.search--input input{
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 30px;
}
.chatlist{
  flex: 1;
  background-color: #FFF;
  overflow-y: auto;
}
.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.contentarea{
  flex: 1;
}
